<div class="container my-5">
  <h1 class="mb-3">Customers</h1>

  <table class="table" *ngIf="customers && customers.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Price</th>
        <th>Product</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.price }}</td>
        <td>{{ customer.product }}</td>
        <td>
          <a [routerLink]="['/customers', 'edit', customer.id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!customers || customers.length <= 0">No Customers Found</p>
</div>
